.card-container {
    margin: 10px;
}

.card-data-container {
    width: 220px;
    height: 300px;
    overflow: hidden;
}

.card-image {
    width: 220px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}